<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="ServiceName" value="MyServiceName" />
    <add key="ServiceDisplayName" value="My Service Display Name" />
    <add key="ServiceDescription" value="My Service Description" />
    <add key="FolderToWatch" value="C:\Users\WoodwaS1\FolderToWatch" /> <!-- UNC Paths can be used here too \\SomeShareServer\SomeFolder -->
    <add key="ArchiveFolder" value="C:\Users\WoodwaS1\FolderToWatchArchive" /> <!-- UNC Paths can be used here too \\SomeShareServer\SomeFolder -->
  </appSettings>
  <!-- 
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="some.smtp.server" />
      </smtp>
    </mailSettings>
  </system.net>
  -->
</configuration>